tweepy==3.8.0
lxml==4.4.1
cryptography==2.3
psycopg2==2.8.3
brotli==1.0.7
Cython==0.29.14
importlib_metadata==0.23
ipaddr==2.2.0
keyring==19.2.0
lockfile==0.12.2
mypy_extensions==0.4.3
numpy==1.17.4
ordereddict==1.1
protobuf==3.15.0
pyOpenSSL==19.1.0
toml==0.10.0
usercustomize==1.0.0
wincertstore==0.2
zipp==0.6.0
