Click==7.0
cryptography==2.3
BeautifulSoup==3.2.2
beautifulsoup4==4.8.1
blinker==1.4
brotli==1.0.7
Cython==0.29.14
functools32==3.2.3-2
importlib_metadata==0.23
ipaddr==2.2.0
ipython==7.10.0
keyring==19.2.0
lockfile==0.12.2
mypy_extensions==0.4.3
numpy==1.17.4
ordereddict==1.1
protobuf==3.11.0
PyJWT==1.7.1
pymongo==3.9.0
pyOpenSSL==19.1.0
secrets==1.0.2
simplejson==3.17.0
toml==0.10.0
usercustomize==1.0.0
win_inet_pton==1.1.0
wincertstore==0.2
zipp==0.6.0
